
//- layout.pug
doctype html
html
  head
    title Lodhi Dance Academy
    block scripts
    block style
  body

    nav#navbar 
        ul
          div#logo
            img(src="/static/img/D3.png")
            | HDA
          li #[a(href='/') Home] 
          li #[a(href='/') About]
          li #[a(href='/') Services]
          li #[a(href='/') Class Info]
          li #[a(href='/') contact Info]
    block content
    section#FooterSection 
      | Lodhi Dance Academy © 2022-2023  | All rights reserved  





















































